root,
input,
button,
* {
  --main-hue: 250;
  --main-sat: 36%;

  --main-lit: 32%;
  --main-lit-hov: 40%;
  --main-lit-foc: 26%;
  --main-color: hsl(var(--main-hue), var(--main-sat), var(--main-lit));
  --main-color-hov: hsl(var(--main-hue), var(--main-sat), var(--main-lit-hov));
  --main-color-foc: hsl(var(--main-hue), var(--main-sat), var(--main-lit-foc));

  --body-bg-lit: 97.5%;
  --body-bg-color: hsl(var(--main-hue), var(--main-sat), var(--body-bg-lit));

  --table-header-lit: 96%;
  --table-header-color: hsl(var(--main-hue), var(--main-sat), var(--table-header-lit));
}

button.MuiButton-contained {
  background-color: var(--main-color);
}

button.MuiButton-contained:hover {
  background-color: var(--main-color-hov);
}

body {
  background-color: var(--body-bg-color) !important;
}
