.DoubleTexAppBar {
	background-color: var(--main-color) !important;
	font-size: 30px;
}

.DoubleTexAppBar button.MuiButton-root.MuiButton-contained {
	background-color: var(--main-color) !important;
}

.DoubleTexAppBar button.MuiButton-root.MuiButton-contained:hover {
	background-color: var(--main-color-foc) !important;
}


.DoubleTexAppBar svg.MuiSvgIcon-root {
	font-size: 30px;
}